<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> FAMILIARES </h1>
    <h2> El primer familiar guardado es {{ nombre1 }}, con DNI {{ identificación1 }}, nacido en {{ f_nacimiento1 }} </h2>
    <h2> El segundo familiar guardado es {{ nombre2 }}, con DNI {{ identificación2 }}, y nacido en {{ f_nacimiento2 }} </h2>
    <h2> El tercer familiar guardado es {{ nombre3 }}, con DNI {{ identificación3 }} y nacido en {{ f_nacimiento3 }} </h2>
</body>
</html>



